<div id="modal-0" class="cc-modal">
  <div class="cc-modal__modal cc-modal__modal--full-bleed">
    <div class="cc-modal__header">
      <button
        aria-label="Schließen"
        class="cc-modal__close-button"
        data-test="modal-close-button"
      >
        <span class="cc-modal__close-button-circle"
          ><span class="cc-modal__close-button-icon"></span
        ></span></button
      ><!---->
    </div>
    <div id="modal-body" class="cc-modal__body">
      <div
        class="page-container page-container--modal page-container--full-height page-container--padded"
        data-v-f2151a9c=""
      >
        <div class="idms-login" data-v-f2151a9c="">
          <div
            id="auth-container"
            class="idms-login__auth-container"
            data-test="auth-container"
            data-v-f2151a9c=""
          >
            <div
              class="idms-login__custom-content-container"
              data-v-f2151a9c=""
              style=""
            >
              <svg
                id="Layer_1"
                version="1.1"
                viewBox="0 0 18 18"
                x="0px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                y="0px"
                class="idms-login__apple-icon"
                data-v-f2151a9c=""
              >
                <path
                  d="M8.8,5.2c-0.7,0-1.8-0.8-3-0.8c-1.5,0-2.9,0.9-3.7,2.3c-1.6,2.8-0.4,6.8,1.1,9.1C4,16.8,4.9,18,6.1,18c1.1,0,1.6-0.7,3-0.7
    c1.4,0,1.8,0.7,3,0.7c1.2,0,2-1.1,2.8-2.2c0.9-1.3,1.2-2.5,1.2-2.6c0,0-2.4-0.9-2.4-3.6c0-2.3,1.9-3.4,1.9-3.4
    c-1.1-1.6-2.7-1.7-3.3-1.8C10.7,4.2,9.5,5.2,8.8,5.2z M11.3,2.9c0.6-0.8,1.1-1.8,0.9-2.9c-0.9,0-2,0.6-2.6,1.4C9,2,8.5,3.1,8.6,4.1
    C9.6,4.2,10.7,3.6,11.3,2.9"
                ></path>
              </svg>
              <h1 class="idms-login__header" data-v-f2151a9c="">
                Melde dich mit deiner Apple‑ID an.
              </h1>
              <p class="idms-login__body" data-v-f2151a9c="">
                Du wirst bei Apple&nbsp;TV und Apple&nbsp;Music&nbsp;angemeldet.
              </p>
            </div>
            <button
              class="link idms-login__create-link"
              type="button"
              data-v-f2151a9c=""
              style=""
            >
              Neue Apple‑ID erstellen
              <span
                class="chevron icon icon-after icon-chevronright"
                data-v-f2151a9c=""
              ></span></button
            ><a class="idms-login__forgot-link" data-v-f2151a9c="" style=""
              >Apple‑ID oder Passwort vergessen?</a
            ><iframe
              src="https://idmsa.apple.com/appleauth/auth/authorize/signin?frame_id=auth-9x5fh2j7-evag-kydn-w79t-p7ieoqmz&amp;language=de_ch&amp;skVersion=7&amp;iframeId=auth-9x5fh2j7-evag-kydn-w79t-p7ieoqmz&amp;client_id=06f8d74b71c73757a2f82158d5e948ae7bae11ec45fda9a58690f55e35945c51&amp;redirect_uri=https://tv.apple.com&amp;response_type=code&amp;response_mode=web_message&amp;account_ind=1&amp;state=auth-9x5fh2j7-evag-kydn-w79t-p7ieoqmz&amp;authVersion=latest"
              width="100%"
              height="100%"
              id="aid-auth-widget-iFrame"
              name="aid-auth-widget"
              scrolling="no"
              frameborder="0"
              role="none"
              allow="publickey-credentials-get https://idmsa.apple.com"
              title="Mit deiner Apple‑ID anmelden"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div
      id="modal-footer-0"
      class="cc-modal__footer"
      data-test="cc-modal-footer"
    ></div>
  </div>
</div>
