<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeModal</title>
    <link rel="stylesheet" href="../../App.css" />
    <link rel="stylesheet" href="../../Settings.css" />
    <link rel="stylesheet" href="../AccountBase.css" />
    <link rel="stylesheet" href="../Authentication.css" />
    <link rel="stylesheet" href="../SignIn.css" />
  </head>
  <body>
    <div
      id="modal-0"
      class="cc-modal cc-modal--internal"
      data-test="parental-control-set-passcode-modal"
      height="400px"
      width="747px"
      data-v-1b089900=""
      data-v-255219ca=""
    >
      <div class="cc-modal__modal">
        <div class="cc-modal__header">
          <button
            aria-label="Schließen"
            class="cc-modal__close-button"
            data-test="modal-close-button"
          >
            <span class="cc-modal__close-button-circle"
              ><span class="cc-modal__close-button-icon"></span
            ></span></button
          ><span class="cc-modal__apple-icon"></span>
        </div>
        <div id="modal-body" class="cc-modal__body">
          <div
            class="page-container page-container--modal page-container--padded"
          >
            <div aria-live="polite" class="set-passcode" data-v-1b089900="">
              <div data-v-e082ca9a="" data-v-1b089900="">
                <div
                  id="dialog-label"
                  class="title typography-eyebrow"
                  data-v-e082ca9a=""
                >
                  Code festlegen
                </div>
                <div
                  id="dialog-desc"
                  class="sub-title typography-body"
                  data-v-e082ca9a=""
                >
                  Dieser Code ist zum Ändern der Beschränkungen erforderlich.
                </div>
                <div
                  class="cc-passcode cc-passcode--mask-input"
                  dir="ltr"
                  data-test="new-passcode"
                  data-v-e082ca9a=""
                >
                  <!---->
                  <div
                    aria-live="polite"
                    class="cc-passcode__field cc-passcode__field--showchars"
                    role="button"
                    tabindex="0"
                  >
                    <div class="form-element cc-passcode__input-container">
                      <input
                        aria-describedby="dialog-label"
                        aria-label="4-stelligen Code festlegen"
                        aria-required="true"
                        autofocus=""
                        class="cc-passcode__input"
                        data-test="passcode-input"
                        pattern=""
                        title="4-stelligen Code festlegen"
                        type="number"
                      /><span
                        class="cc-passcode__digit cc-passcode__digit--filled cc-passcode__digit--fillcomplete"
                        data-test="passcode-digit"
                        role="textbox"
                        style="width: 45px; height: 45px"
                        ><!----></span
                      ><span
                        class="cc-passcode__digit cc-passcode__digit--filled"
                        data-test="passcode-digit"
                        role="textbox"
                        style="width: 45px; height: 45px"
                        ><span class="cc-passcode__digit-display">7</span></span
                      ><span
                        class="cc-passcode__digit cc-passcode__digit--active"
                        data-test="passcode-digit"
                        role="textbox"
                        style="width: 45px; height: 45px"
                        ><!----></span
                      ><span
                        class="cc-passcode__digit"
                        data-test="passcode-digit"
                        role="textbox"
                        style="width: 45px; height: 45px"
                        ><!----></span
                      ><!----><!---->
                    </div>
                  </div>
                </div>
              </div>
              <!----><!----><!----><!---->
            </div>
          </div>
        </div>
        <div
          id="modal-footer-0"
          class="cc-modal__footer"
          data-test="cc-modal-footer"
        >
          <div class="form-buttons-modal" data-v-348e8e32="">
            <!----><button
              data-test="continue-button"
              class="web-button button web-button--rectangle web-button--primary form-buttons-modal__button"
              disabled=""
              type="button"
              data-v-348e8e32=""
            >
              <!----><span class="web-button__text">Weiter</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
